name: Release

on:
  release:
    types: [released]

jobs:
  build_release:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        jdk-version: [18]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.jdk-version }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Package distributables for ${{ runner.os }}
        run: ./gradlew package

      - name: Package UberJar for ${{ runner.os }}
        run: ./gradlew packageUberJarForCurrentOS

      - name: Create standalone distributable for ${{ runner.os }}
        run: ./gradlew createDistributable

      - name: Zip standalone distributable for ${{ runner.os }}
        run: |
          cd build/compose/binaries/main/app/ &&
          7z a HashHash-${{ runner.os }}-standalone.zip *

      - name: Upload artifacts
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            build/compose/binaries/main/app/HashHash-${{ runner.os }}-standalone.zip
            build/compose/binaries/main/dmg/*
            build/compose/binaries/main/exe/*
            build/compose/binaries/main/msi/*
            build/compose/binaries/main/deb/*
            build/compose/binaries/main/rpm/*
            build/compose/jars/*

  winget-pkg-release:
    needs: [ build_release ]
    runs-on: windows-latest
    steps:
      - uses: vedantmgoyal2009/winget-releaser@v1
        with:
          identifier: RussellBanks.HashHash
          token: ${{ secrets.WINGET_TOKEN }}

  upload-virus-total:
    needs: [ build_release ]
    runs-on: ubuntu-latest
    steps:
      - name: VirusTotal Monitor Scan
        uses: crazy-max/ghaction-virustotal@v3
        with:
          vt_api_key: ${{ secrets.VT_API_KEY }}
          update_release_body: true
          request_rate: 4
          files: |
            .zip$
            .dmg$
            .exe$
            .msi$
            .deb$
            .rpm$
            .jar$
